body {
    padding-left: 5em;
    padding-top: 5em;
}
h1 {
    display: inline;
    margin-bottom: 3em;
}
.blink {
    animation: blinker 1s linear infinite;
}
nav {
    padding-top: 10em;
    position: fixed;
    text-align: right;
}
.main {
    padding-top: 3em;
}
.content {
    margin-top: 3em;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
