body {
    padding-left: 5em;
    padding-top: 5em;
}
h1 {
    display: inline;
    margin-bottom: 3em;
}
.blink {
    animation: blinker 1s linear infinite;
}
nav {
    padding-top: 10em;
    position: fixed;
    text-align: right;
}
.main {
    padding-top: 3em;
}
.content {
    margin-top: 3em;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.terminal {
    background-color: white;
    color: rgb(232, 62, 140) !important;
    display: inline !important;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    height: auto !important;
    line-height: 21px !important;
    text-align: left !important;
    width: auto !important;
    word-break: break-word !important;
}
